

{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}




     <!-- End of nav bar -->

        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Register account  </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->
         <!-- register-area -->
        <div class="register-area" style="background-color: rgb(249, 249, 249);">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3" >
                    <div class="box-for overflow">
                        <div class="col-md-12 col-xs-12 register-blocks">
                            <h2>Register account : </h2>
                            <form action="" method="post">

                                <div class="form-group">
                                    <label for="username">UserName</label>
                                    <input type="text" class="form-control" id="username">
                                </div>

                                <div class="form-group">
                                    <label for="entityname">Entity Name</label>
                                    <input type="text" class="form-control" id="entityname">
                                </div>

                                <div class="form-group">
                                    <label for="availablefund">Availble Funds</label>
                                    <input type="text" class="form-control" id="availablefund">
                                </div>

                                <div class="form-group">
                                    <label for="loanrange">Loan Range</label>
                                    <input type="text" class="form-control" id="loanrange">
                                </div>
                                <div class="form-group">
                                    <label for="minloansize">Min Loan Size</label>
                                    <input type="text" class="form-control" id="minloansize">
                                </div>

                                <div class="form-group">
                                    <label for="maxloansize">Max Loan Size</label>
                                    <input type="text" class="form-control" id="maxloansize">
                                </div>


                                <div class="form-group">
                                    <label for="mincradit">Min Cradit </label>
                                    <input type="text" class="form-control" id="mincradit">
                                </div>

                                <div class="form-group">
                                    <label for="maxltv">Max  Ltv </label>
                                    <input type="text" class="form-control" id="maxltv">
                                </div>

                                <div class="form-group">
                                    <label for="maxltc">Max  Ltc </label>
                                    <input type="text" class="form-control" id="maxltc">
                                </div>

                                <div class="form-group">
                                    <label for="states">States </label>
                                    <input type="text" class="form-control" id="states">
                                </div>

                                <div class="form-group">
                                    <label for="propertytpe">Property Type </label>
                                    <input type="text" class="form-control" id="propertytpe">
                                </div>

                                <div class="form-group">
                                    <label for="propertytpe">Property Type </label>
                                    <input type="text" class="form-control" id="propertytpe">
                                </div>

                                <div class="form-group">
                                    <label for="foreclousure">Foreclousure </label>
                                    <input type="checkbox" class="form-control" id="foreclousure">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password">
                                </div>

                                <div class="form-group">
                                    <label for="confirmpassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmpassword">
                                </div>


                                <div class="text-center">
                                    <button type="submit" class="btn btn-default">Signup</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>


            </div>
        </div>

          <!-- Footer area-->



{% endblock %}